/* media query or responsive style
================================ */
@media screen and (max-width: 576px) {
    /* nav section style
    ================= */
    .nav-container{
        flex-direction: column;
    }

    /* banner section style
    ==================== */
    .banner-container{
        flex-direction: column-reverse;
        background-image: none;
        
    }
    .banner-content{
        text-align: center;
    }
    .banner-image{
        display: flex;
        align-items: center;
    }
    
    /* logo section style
    ================== */
    .logo-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 100px);
        grid-gap: 20px;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }
}